body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.listOfPlayers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.playerInfo {
  display: flex;
  align-items: center;
  width: 25%;
  margin: 10px;
  padding: 10px;
  border: 3px solid #577F90;
  border-radius: 5px;
}

.avatarContainer {
  width: 25%;
  margin-right: 25px;
}

